{{ define "main" -}}

<!-- {{ partial "breadcrumb.html" . }} -->

<ul class="sections">
{{ range sort .Sections "Path" -}}
  <li>
    <span><a href="{{ .Permalink }}">{{ .Title }}</a> <time class="pull-right post-list" datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "Mon, Jan 2, 2006" }}</time></span>
    <br><span>{{ .Path }}</span>
  </li>
{{- end }}
</ul>

<hr>

<div class="posts">
{{ range where .Data.Pages.ByLastmod.Reverse "Date" "ge" (now.AddDate -2 0 0) -}}
<article class="post">
  {{ $alternate_title := replaceRE "[0-9]{4}-[0-9]{2}-[0-9]{2}" "" .File.BaseFileName }}
  {{ $alternate_title := replace $alternate_title "-" " " | title }}

  <h1 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title | default $alternate_title }}</a>
  </h1>
  <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}" class="post-date">
    {{ .Date.Format "Mon, Jan 2, 2006" }}, 
    {{ .Lastmod.Format "Mon, Jan 2, 2006" }}
  </time>
  <!-- <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z0700" }}" class="post-date">{{ .Lastmod.Format "Mon, Jan 2, 2006" }}</time> -->
  {{ .Summary }}
  {{ if .Truncated }}
  <div class="read-more-link">
    <a href="{{ .RelPermalink }}">Read More…</a>
  </div>
  {{ end }}
</article>
{{- end }}
</div>
{{- end }}
